*{
    font-family: cursive;
    text-decoration: none;
}

html{
    background-image: url(https://picsum.photos/2000/2000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.accueil{
    position: fixed;
    display: block;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    font-style: italic;
}
.accueil img{
    height: 40px;
    top: 10px;
    
    background: transparent;
    border-radius: 10px;
    align-items: center;
}
.accueil img:hover{
    height: 50px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
}
.accueil:hover{
    backdrop-filter: blur(20px);
    background: transparent;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: chocolate;
    font-size: 300%;
    border-radius: 20px;
}
h2{
    text-align: center;
    color: coral;
}
h3{
    text-align: left;
    color: black;
    text-decoration: underline;
    text-decoration: bold;
}
.centre1{
    float:left;
    width: 90%;
    display: block;
    text-align: left;
    border: 6px solid gold;
    background-color: rgba(245, 245, 245, 0.500);
    border-radius: 20px;
    padding: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    align-items: center;
    backdrop-filter: blur(15px);
}
.centre1d{
    float: right;
    width: 46%;
    padding: 10px;
}
.centre1l{
    float: left;
    width: 46%;
    border-right: black 2px solid;
    padding: 10px;
}


.centre2{
    float:left;
    width: 90%;
    display: block;
    text-align: left;
    border: 6px solid gold;
    background-color: rgba(245, 245, 245, 0.500);
    border-radius: 20px;
    padding: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    align-items: center;
    backdrop-filter: blur(15px);
}
.centre2 img{
    float: right;
}

.centre3 {
    float:left;
    width: 90%;
    display: block;
    text-align: left;
    border: 6px solid gold;
    background-color: rgba(245, 245, 245, 0.500);
    border-radius: 20px;
    padding: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    align-items: center;
    backdrop-filter: blur(15px);
}
.centre4{
    float:left;
    width: 90%;
    display: block;
    text-align: left;
    border: 6px solid gold;
    background-color: rgba(245, 245, 245, 0.500);
    border-radius: 20px;
    padding: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    align-items: center;
    backdrop-filter: blur(15px);
}
.centre5{
    float:left;
    width: 90%;
    display: block;
    text-align: left;
    border: 6px solid gold;
    background-color: rgba(245, 245, 245, 0.500);
    border-radius: 20px;
    padding: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    align-items: center;
    backdrop-filter: blur(15px);
}
.centre6{
    float:left;
    width: 90%;
    display: block;
    text-align: left;
    border: 6px solid gold;
    background-color: rgba(245, 245, 245, 0.500);
    border-radius: 20px;
    padding: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    align-items: center;
    backdrop-filter: blur(15px);
}
.centre7{
    float:left;
    width: 90%;
    display: block;
    text-align: left;
    border: 6px solid gold;
    background-color: rgba(245, 245, 245, 0.500);
    border-radius: 20px;
    padding: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    align-items: center;
    backdrop-filter: blur(15px);
}
.centre7 img{
    align-items: center;
    margin-left: 5%
}

img{
    margin: 15px;
}




button{
  float:center;
  width: 10%;
  height: 5%;
  display: block;
  text-align: center;
  border: 3px solid gray ;
  background-color: gold ;
  border-radius: 20px;
  padding: 10px;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 2%;
  margin-bottom: 4%;
  align-items: center;
}

button:hover{
  float:center;
  width: 12%;
  height: 6%;
  display: block;
  text-align: center;
  border: 3px solid gray ;
  background-color: rgb(136, 255, 0) ;
  border-radius: 20px;
  padding: 10px;
  margin-left: 44%;
  margin-right: 44%;
  margin-top: 2%;
  margin-bottom: 4%;
  align-items: center;
}
